{
  "openapi": "3.0.2",
  "info": {
    "title": "Point Of Sales - API Reference",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://intemperate-vol.000webhostapp.com/"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": ""
    },
    {
      "name": "outlet",
      "description": ""
    },
    {
      "name": "employee",
      "description": ""
    },
    {
      "name": "customer",
      "description": ""
    },
    {
      "name": "category",
      "description": ""
    },
    {
      "name": "product",
      "description": ""
    }
  ],
  "paths": {
    "/api/users": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Register new user",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "amin": {
                  "description": "Register user amin",
                  "value": {
                    "name": "Fakhrul Amin",
                    "email": "amin@example.com",
                    "phone": "0856732893928",
                    "password": "password"
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "phone",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "examples": {
                  "validationerror": {
                    "description": "Validation error",
                    "value": {
                      "errors": {
                        "name": [
                          "name must not be blank",
                          "name min 4 characters"
                        ],
                        "email": [
                          "email must not be blank",
                          "email must contain @"
                        ],
                        "phone": [
                          "phone must not be blank",
                          "phone must be a number"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success register user",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "description": "Success register user",
                    "value": {
                      "data": {
                        "id": 1,
                        "name": "Fakhrul Amin",
                        "email": "amin@example.com",
                        "phone": "0856732893928"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/login": {
      "post": {
        "tags": [
          "user"
        ],
        "description": "Login user",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "amin": {
                  "description": "Login user amin",
                  "value": {
                    "email_or_phone": "amin@example.com|0856732893928",
                    "password": "password"
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "email_or_phone",
                  "password"
                ],
                "properties": {
                  "email_or_phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login user amin",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "description": "Success login user",
                    "value": {
                      "data": {
                        "id": 1,
                        "name": "Fakhrul Amin",
                        "email": "amin@example.com",
                        "phone": "0856732893928",
                        "token": "12h1ni2xuhhor7ywqhdkshfk"
                      },
                      "errors": {}
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/current": {
      "get": {
        "tags": [
          "user"
        ],
        "description": "Get current user",
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "Success get current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "user"
        ],
        "description": "Update current user",
        "parameters": [
          
        ],
        "requestBody": {
          "description": "Update current user",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success update user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/users/logout": {
      "delete": {
        "tags": [
          "user"
        ],
        "description": "Logout current user",
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "Success logout current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/outlets": {
      "post": {
        "tags": [
          "outlet"
        ],
        "description": "Create new outlet",
        "parameters": [
          
        ],
        "requestBody": {
          "description": "Create new outlet",
          "content": {
            "application./json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "address",
                  "phone",
                  "email",
                  "is_active"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success create new outlet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "is_active": {
                          "type": "boolean"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "outlet"
        ],
        "description": "Get list outlet",
        "parameters": [
          
        ],
        "responses": {
          "200": {
            "description": "Success get list outlet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/outlets/{id}": {
      "get": {
        "tags": [
          "outlet"
        ],
        "description": "Get outlet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success get outlet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "employees": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "pin": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string",
                                "enum": [
                                  "Kasir",
                                  "Manajer",
                                  "Pemilik",
                                  "Superadmin"
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "outlet"
        ],
        "description": "Update outlet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Update outlet",
          "content": {
            "application./json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "address",
                  "phone",
                  "email",
                  "is_active"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success update outlet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "is_active": {
                          "type": "boolean"
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "outlet"
        ],
        "description": "Delete outlet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete outlet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/employees": {
      "post": {
        "tags": [
          "employee"
        ],
        "description": "Create new employee",
        "parameters": [
          
        ],
        "requestBody": {
          "description": "Create new employee",
          "content": {
            "application/json": {
              "examples": {
                "amin": {
                  "description": "Create new employee using number as a role parameters and without email",
                  "value": {
                    "name": "Amin",
                    "phone": "08123456789",
                    "email": "",
                    "pin": "1234",
                    "role": 1,
                    "outletIds": [
                      1
                    ]
                  }
                },
                "fakhrul": {
                  "description": "Create new employee using string as a role parameters and with an email",
                  "value": {
                    "name": "Fakhrul",
                    "phone": "08123456789",
                    "email": "fakhrul@gmail.com",
                    "pin": "1234",
                    "role": "Kasir",
                    "outletIds": [
                      1,
                      2
                    ]
                  }
                }
              },
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "phone",
                  "pin",
                  "role",
                  "outletIds"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maximum": 50
                  },
                  "phone": {
                    "type": "string",
                    "maximum": 20
                  },
                  "pin": {
                    "type": "string",
                    "maximum": 4,
                    "minimum": 4
                  },
                  "email": {
                    "type": "string",
                    "maximum": 100
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "Kasir",
                      "Manajer",
                      "Pemilik",
                      "Superadmin"
                    ]
                  },
                  "outletIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success create new employee",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "description": "Success create new employee",
                    "value": {
                      "data": {
                        "id": 1,
                        "name": "Fakhrul",
                        "phone": "08123456789",
                        "email": "fakhrul@gmail.com",
                        "role": "Kasir",
                        "outlets": [
                          {
                            "id": 1,
                            "name": "Mie Bakso",
                            "address": "Yogyakarta",
                            "phone": "08987654321",
                            "email": "miebakso@gmail.com",
                            "is_active": true
                          },
                          {
                            "id": 2,
                            "name": "Mie Bakso 2",
                            "address": "Yogyakarta",
                            "phone": "08987654321",
                            "email": "miebakso2@gmail.com",
                            "is_active": true
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "pin": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "Kasir",
                            "Manajer",
                            "Pemilik",
                            "Superadmin"
                          ]
                        },
                        "outlets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "employee"
        ],
        "description": "Get list employees",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outletid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get list employees",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "description": "Success get list employees",
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "name": "Fakhrul",
                          "phone": "08123456789",
                          "email": "fakhrul@gmail.com",
                          "role": "Kasir"
                        },
                        {
                          "id": 2,
                          "name": "Fakhrul2",
                          "phone": "08123456789",
                          "email": "fakhrul2@gmail.com",
                          "role": "Kasir"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "pin": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "Kasir",
                              "Manajer",
                              "Pemilik",
                              "Superadmin"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/employees/{id}": {
      "get": {
        "tags": [
          "employee"
        ],
        "description": "Get employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success get employee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "pin": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "Kasir",
                            "Manajer",
                            "Pemilik",
                            "Superadmin"
                          ]
                        },
                        "outlets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "employee"
        ],
        "description": "Update employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Update existing employee",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "phone",
                  "pin",
                  "role",
                  "outletIds"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maximum": 50
                  },
                  "phone": {
                    "type": "string",
                    "maximum": 20
                  },
                  "pin": {
                    "type": "string",
                    "maximum": 4,
                    "minimum": 4
                  },
                  "email": {
                    "type": "string",
                    "maximum": 100
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "Kasir",
                      "Manajer",
                      "Pemilik",
                      "Superadmin"
                    ]
                  },
                  "outletIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success update employee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "pin": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "Kasir",
                            "Manajer",
                            "Pemilik",
                            "Superadmin"
                          ]
                        },
                        "outlets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "is_active": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "employee"
        ],
        "description": "Delete employee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete employee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/customers": {
      "post": {
        "tags": [
          "customer"
        ],
        "description": "Create a new customer",
        "requestBody": {
          "description": "Create a new customer",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "phone",
                  "gender"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "Laki-laki",
                      "Perempuan"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success create a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string",
                          "enum": [
                            "Laki-laki",
                            "Perempuan"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "customer"
        ],
        "description": "Get list customers",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get list customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string",
                            "enum": [
                              "Laki-laki",
                              "Perempuan"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/customers/{id}": {
      "get": {
        "tags": [
          "customer"
        ],
        "description": "Get a customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success get a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string",
                          "enum": [
                            "Laki-laki",
                            "Perempuan"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "customer"
        ],
        "description": "Update a customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Update a customer",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "phone",
                  "gender"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string",
                    "enum": [
                      "Laki-laki",
                      "Perempuan"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success update a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string",
                          "enum": [
                            "Laki-laki",
                            "Perempuan"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "customer"
        ],
        "description": "Delete a customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/categories": {
      "post": {
        "tags": [
          "category"
        ],
        "summary": "Create a new category",
        "description": "Create a new category",
        "requestBody": {
          "description": "Create a new category",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "category"
        ],
        "description": "Get all or search categories",
        "summary": "Get all or search categories",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/categories/{categoryId}": {
      "get": {
        "tags": [
          "category"
        ],
        "description": "Get a category by ID",
        "summary": "Get a category by ID",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the category"
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "category"
        ],
        "summary": "Update a category by ID",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the category"
          }
        ],
        "requestBody": {
          "description": "Update a category",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "category"
        ],
        "summary": "Delete a category by ID",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the category"
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/products": {
      "post": {
        "tags": [
          "product"
        ],
        "description": "Create a new product",
        "summary": "Create a new product",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number",
                    "format": "float"
                  },
                  "is_for_sale": {
                    "type": "boolean"
                  },
                  "category_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "name",
                  "price",
                  "is_for_sale"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number",
                          "format": "float"
                        },
                        "is_for_sale": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "product"
        ],
        "description": "Get all, search, or filter products",
        "summary": "Get all, search, or filter products",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "az",
                "za",
                "newest",
                "oldest"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number",
                            "format": "float"
                          },
                          "is_for_sale": {
                            "type": "boolean"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/products/{productId}": {
      "get": {
        "tags": [
          "product"
        ],
        "description": "Get a product by ID",
        "summary": "Get a product by ID",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number",
                      "format": "float"
                    },
                    "is_for_sale": {
                      "type": "boolean"
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "product"
        ],
        "description": "Update a product by ID",
        "summary": "Update a product by ID",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number",
                    "format": "float"
                  },
                  "is_for_sale": {
                    "type": "boolean"
                  },
                  "category_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number",
                          "format": "float"
                        },
                        "is_for_sale": {
                          "type": "boolean"
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "product"
        ],
        "summary": "Delete a product by ID",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete a product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/products/{productId}/delete_image": {
      "delete": {
        "tags": [
          "product"
        ],
        "summary": "Delete image associated with a product by ID",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete a product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Outlet": {
        "type": "object",
        "required": [
          "name",
          "address",
          "phone",
          "email",
          "is_active"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}